name = "ImplicitGlobalGrid"
uuid = "4d7a3746-15be-11ea-1130-334b0c4f5fa0"
authors = ["Samuel Omlin", "Ludovic Raess", "Ivan Utkin"]
version = "0.15.2"

[deps]
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
CellArrays = "d35fcfd7-7af4-4c67-b1aa-d78070614af4"

[weakdeps]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Polyester = "f517fe37-dbe3-4b94-8317-1923a5111588"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[extensions]
ImplicitGlobalGrid_AMDGPUExt = "AMDGPU"
ImplicitGlobalGrid_CUDAExt = "CUDA"
ImplicitGlobalGrid_PolyesterExt = "Polyester"

[compat]
AMDGPU = "0.6, 0.7, 0.8, 0.9, 1"
CUDA = "1, ~3.1, ~3.2, ~3.3, ~3.7.1, ~3.8, ~3.9, ~3.10, ~3.11, ~3.12, ~3.13, 4, 5"
MPI = "0.20"
CellArrays = "0.3.1"
Polyester = "0.7"
StaticArrays = "1"
julia = "1.9"

[extras]
CPUSummary = "2a0fbf3d-bb9c-48f3-b0a9-814d99fd7ab9"
MPIPreferences = "3da0fdf6-3ccc-4f1b-acd9-58baa6c99267"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "MPIPreferences", "AMDGPU", "CUDA", "Polyester", "StaticArrays"]
